<% layout('/layouts/boilerplate.ejs') -%>
<script>
  const mapToken= "<%=process.env.MAP_TILER_API_KEY%>"
  const listing = <%-JSON.stringify(listing)%>
  
</script>
<body>

    <div class="row">
        <!-- show in details -->
        <div class="col-6 offset-3">
            <h3 class="mb-4"><%=listing.title%></h3>
            <div class="card">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="list_img" style="height:18rem;" >
                <div class="card-body">
                  <p class="card-text show-text owner">Owned by: <%=listing.owner.username%></p>
                  <p class="card-text show-text"><%=listing.description%></p>
                  <p class="card-text show-text">&#8377; <%=listing.price.toLocaleString("en-IN")%>/night</p>
                  <p class="card-text show-text"><%=listing.location%></p>
                  <p class="card-text show-text"><%=listing.country%></p>
                </div>

                <% if(currUser && currUser._id.equals(listing.owner._id)){%>
                  <div class="card-body mt-3 d-flex">
                      <a href="/listing/<%=listing._id%>/edit" class="btn btn-color me-3">Edit List</a>
                      <form action="/listing/<%=listing._id%>?_method=DELETE" method="POST" >
                        <button type="submit"  class="btn btn-color" >Delete List</button>
                      </form>
                  </div>
                <%}%>
            </div>
            
        </div>

        <!-- review from -->
        <div class="col-6 offset-3">
            <%//if(currUser){%>
              <hr>
              <h4 class="mb-4">Add Reviews</h4>
              <form action="/listing/<%=listing._id%>/review"   method="POST" novalidate class="needs-validation">
                  <div class="mb-3 d-flex gap-4 align-items-stretch">
                      <label for="rating" class="form-label">Rating:</label>
                      <fieldset class="starability-grow review-rating-st">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset> 
                  </div>
                  <div class="mb-3">
                      <label class="form-label" for="comment">Comment:</label>
                      <textarea class="form-control" id="comment" name="review[comment]" rows="3" cols="50" required></textarea>
                      <div class="invalid-feedback">
                          Please enter a comment
                      </div>
                  </div>
                  <button class="btn btn-color mt-2 mb-3" type="submit">Submit</button>    

              </form>
            <%//}%>
            
            <%if (listing.reviews && listing.reviews.length){%>
              <hr>
              <h4 class="mb-3">Comments  </h4>
              <div class="row">
                  <% for (review of listing.reviews) { %>
                    <div class="col-md-6 mb-2 ">
                      <div class="card comment">
                        <div class="card-body">
                          <h6 class="card-title review-user mb-1">@<%=review.author.username%></h6>
                          <p class="card-text starability-result review-rating" data-rating="<%= review.rating %>"></p>
                          <p class="card-text comment-text"><%= review.comment %></p>
                          <form action="/listing/<%=listing._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                            <% if(currUser && currUser._id.equals(review.author._id)){%>
                              <button class="btn btn-secondary btn-sm mt-2"><i class="ri-delete-bin-6-line"></i></button>
                            <%}%>
                          </form>
                        </div>
                      </div>
                    </div>
                  <% } %>
              </div>
            <%}%>
        </div>

        <!-- map show -->
         <div class="col-6 offset-3">
          <hr>
          <h4>Where you'll be</h4>
          <div id="map"></div>
         </div>
    </div>
</body>
<script src="/js/map.js"></script>